<style>
  .search-btn{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem;
  }

  .search-btn:hover{
    background-color: #ff2a3a;
    color: #fff;
  }

  .search-inp{
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }

  .btn-airbnb-home {
    background-color: #ff385c;
    color: #fff;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
  }
  .btn-airbnb-home:hover {
    background-color: #e03150;
    color: #fff;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i> WanderLust
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Left Links -->
      <div class="navbar-nav me-auto">
        <a class="nav-link <% if (activePage === 'explore') { %>active<% } %>" href="/listings">Explore</a>
      </div>

      <!-- Search Form -->
      <form class="d-flex mx-auto" role="search" method="GET" action="/listings">
        <input class="form-control me-2 search-inp" type="search" name="search" placeholder="Search destinations"/>
        <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
      </form>

      <!-- Right Links -->
      <div class="navbar-nav ms-auto align-items-center">
        <a href="/listings/new" class="btn btn-airbnb-home">Airbnb your home</a>

        <% if(!currentUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>

        <% if(currentUser) { %>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              <i class="fa-solid fa-user"></i> <%= currentUser.username %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
              <li><a class="dropdown-item" href="/listings/my">My Listings</a></li>
              <li><a class="dropdown-item" href="/profile">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Log out</a></li>
            </ul>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</nav>
